<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>ToDo app using AngularJS</title>
  <meta name="viewport" content="width=device-width" />
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script src="js/angular.js" type="text/javascript"></script>
</head>
<body ng-controller="ToDoCtrl">
  <div>
    <h1>{{Title}}</h1>
    <input type="text" ng-model="name" >
    <input type="checkbox" ng-model="check">
    <p ng-show="check">it's time to learning AngularJS, {{name}}!</p>
    <span>{{todolist.length}}</span>
  </div>
</body>
</html>